<section class="clients">
  <div class="clients__section container">
    <div class="clients__text--wrap">
      <h3 class="clients__title">Past clients</h3>
      <p class="text">Trusted by your favourite companies</p>
    </div>
    <div class="clients__desc">
      <ul class="clients__desc--list">
        <li class="clients__desc--item">
          <img src="./images/IMAGE1.svg" alt="icon1" />
        </li>
        <li class="clients__desc--item">
          <img src="./images/IMAGE2.svg" alt="icon2" />
        </li>
        <li class="clients__desc--item">
          <img src="./images/IMAGE3.svg" alt="icon3" />
        </li>
        <li class="clients__desc--item">
          <img src="./images/IMAGE4.svg" alt="icon4" />
        </li>
        <li class="clients__desc--item">
          <img src="./images/IMAGE5.svg" alt="icon4" />
        </li>
      </ul>
    </div>
  </div>
</section>
