<section class="footer" id="hero">
  <div class="footer__wrapper container">
    <div class="footer__desc">
      <div class="footer__logo--wrap">
        <a href="./index.html"
          ><img
            class="header__img footer-img"
            src="./images/logo.svg"
            alt="logo"
        /></a>
        <p class="footer__logo--text">
          Photographers & videographers capturing the world around us.
        </p>
      </div>
      <div class="foter__flex--wrap">
        <div class="footer__bisn">
          <h4 class="footer__bisn--title">Business areas</h4>
          <ul class="footer__bisn--list">
            <li class="footer__bisn--item">Product Photography</li>
            <li class="footer__bisn--item">Architecture Photography</li>
            <li class="footer__bisn--item">Drone Photography</li>
            <li class="footer__bisn--item">Wildlife Photography</li>
          </ul>
        </div>
        <div class="footer__pages">
          <h4 class="footer__pages--title">Pages</h4>
          <ul class="footer__pages--list">
            <li class="footer__pages--item">Gear cage</li>
            <li class="footer__pages--item">Featured images</li>
            <li class="footer__pages--item">Contact</li>
            <li class="footer__pages--item">Style guide</li>
            <li class="footer__pages--item">Instructions</li>
            <li class="footer__pages--item">Changelog</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__input--wrap">
      <div class="footer__wrap--text">
        <h3 class="footer__input--title">Subscribe to our newsletter</h3>
        <p class="footer__input--text">Read about all the things we do.</p>
      </div>
      <div class="footer__wrap--input">
        <input class="input" type="text" />
      </div>
    </div>
    <div class="footer__license--wrap">
      <div class="footer__license">
        <p class="footer__license--text">
          © Aperture Photography, Inc. All rights reserved.
        </p>
      </div>
      <div class="footer__license--icons">
        <ul class="footer__license--list">
          <li class="footer__license--items">
            <img src="./images/twit.svg" alt="twit" />
          </li>
          <li class="footer__license--items">
            <img src="./images/inst.svg" alt="inst" />
          </li>
          <li class="footer__license--items">
            <img src="./images/face.svg" alt="faceb" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
