<section class="gear-cage" id="gear-cage">
  <div class="gear__wrapper">
    <div class="gear__section--desc">
      <p class="gear__section--pretitle">The Gear cage</p>
      <h3 class="gear__section--title">The tools that we use.</h3>
      <p class="gear__section--text">
        The say that "no place is boring if you've had a good night's sleep and
        have a pocket full of unexposed film". While we don't shoot (a lot) of
        film these days — these are the tools that we actually use everyday to
        capture the amazing things around us.
      </p>
      <a class="whatwedo__item--link gear-link" href="#">Check it out</a>
    </div>
    <div class="gear__photo--desc">
      <ul class="gear__photo--list">
        <li class="gear__photo--item">
          <img
            class="gear__photo--img"
            src="./images/desk-icon.svg"
            alt="icon1"
          />
        </li>
        <li class="gear__photo--item">
          <img
            class="gear__photo--img"
            src="./images/desc-icon2.svg"
            alt="icon2"
          />
        </li>
        <li class="gear__photo--item">
          <img
            class="gear__photo--img"
            src="./images/desc-icon3.svg"
            alt="icon3"
          />
        </li>
        <li class="gear__photo--item">
          <img
            class="gear__photo--img"
            src="./images/shweden.svg"
            alt="icon4"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
