<div class="header container">
  <div class="header__logo">
    <a href="./index.html"
      ><img class="header__img" src="./images/logo.svg" alt="logo"
    /></a>
  </div>
  <div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a href="#"></a>Business areas</li>
        <li class="header__item"><a href="#"></a>Featured images</li>
        <li class="header__item"><a href="#"></a>Gear cage</li>
        <li class="header__item"><a href="#"></a>Contact</li>
        <li class="header__item--btn"><a href="#"></a>Get template</li>
      </ul>
      <a class="header__item--btn2" href="#">Get template</a>
    </nav>
  </div>
</div>
