<section class="hero">
  <div class="hero__wrap">
    <div class="hero__text--wrap">
      <p class="hero__pretext">Photographer & Filmmaker</p>
      <h1 class="hero__title">Aperture Studios</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
        sem vitae risus tristique posuere.
      </p>
    </div>
    <div class="hero__desc">
      <ul class="hero__desc--list">
        <li class="hero__desc--item">
          <img src="./images/desk-icon.svg" alt="icon1" />
        </li>
        <li class="hero__desc--item">
          <img src="./images/desc-icon2.svg" alt="icon2" />
        </li>
        <li class="hero__desc--item">
          <img src="./images/desc-icon3.svg" alt="icon3" />
        </li>
        <li class="hero__desc--item">
          <img src="./images/desc-icon4.svg" alt="icon4" />
        </li>
      </ul>
    </div>
  </div>
</section>
