<section class="leaf-section">
  <div class="leaf__section--wrap">
    <div class="leaf__text--wrap">
      <h3 class="leaf__section--title">Sunset at Mount Fuji</h3>
      <p class="leaf__section--text">
        Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in
        convallis risus egestas non.
      </p>
    </div>
    <div class="leaf__section--desc">
      <ul class="leaf__section--list">
        <li class="leaf__section--item">
          <img
            class="leaf__section--img"
            src="./images/desk-icon.svg"
            alt="icon1"
          />
        </li>
        <li class="leaf__section--item">
          <img
            class="leaf__section--img"
            src="./images/desc-icon2.svg"
            alt="icon2"
          />
        </li>
        <li class="leaf__section--item">
          <img
            class="leaf__section--img"
            src="./images/desc-icon3.svg"
            alt="icon3"
          />
        </li>
        <li class="leaf__section--item">
          <img
            class="leaf__section--img"
            src="./images/nepal.svg"
            alt="icon4"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
