<section class="whatwedo__section">
  <div class="whatwedo__wrap container">
    <div class="whatwedo__title--wrap">
      <h2 class="whatwedo__title">What we do.</h2>
      <p class="whatwedo__text">The areas that we're specialized in.</p>
    </div>
    <div class="whatwedo__content--wrap">
      <div class="whatwedo__item--wrap">
        <h3 class="whatwedo__item--title">Product Photography</h3>
        <p class="whatwedo__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis
          consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate
          ut ligula. Vestibulum sit amet urna turpis.
        </p>
        <a class="whatwedo__item--link" href="#">Read more</a>
      </div>
      <div class="whatwedo__item--wrap2">
        <h3 class="whatwedo__item--title">Architecture Photography</h3>
        <p class="whatwedo__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis
          consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate
          ut ligula. Vestibulum sit amet urna turpis.
        </p>
        <a class="whatwedo__item--link" href="#">Read more</a>
      </div>
      <div class="whatwedo__item--wrap3">
        <h3 class="whatwedo__item--title">Drone Photography</h3>
        <p class="whatwedo__item--text">
          Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt. Duis
          tristique sed lorem a vestibulum. Cras commodo consequat orci, in
          convallis risus egestas non. Nulla efficitur auctor hendrerit. Etiam
          ut orci varius, faucibus libero ac, cursus quam.
        </p>
        <a class="whatwedo__item--link" href="#">Read more</a>
      </div>
      <div class="whatwedo__item--wrap4">
        <h3 class="whatwedo__item--title">Wildlife Photography</h3>
        <p class="whatwedo__item--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis
          consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate
          ut ligula. Vestibulum sit amet urna turpis.
        </p>
        <a class="whatwedo__item--link" href="#">Read more</a>
      </div>
    </div>
  </div>
</section>
